<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

<welcome-file-list>
<welcome-file>index.html</welcome-file>
</welcome-file-list>

<context-param>
<param-name>uname</param-name>
<param-value>klu</param-value>
</context-param>

<context-param>
<param-name>password</param-name>
<param-value>@klu123</param-value>
</context-param>
<servlet>
<servlet-name>secondservlet</servlet-name>
<servlet-class>lifecycle.SecondServlet</servlet-class>
</servlet>
<servlet>
  <servlet-name>SecondServlet</servlet-name>
  <display-name>SecondServlet</display-name>
  <description></description>
  <servlet-class>lifecycle.SecondServlet</servlet-class>
</servlet>
<servlet>
  <servlet-name>thirdservlet</servlet-name>
  <servlet-class>lifecycle.ThirdServlet</servlet-class>
</servlet>
<servlet>

<init-param>
<param-name>id</param-name>
<param-value>100</param-value>
</init-param>

<init-param>
<param-name>name</param-name>
<param-value>KLEF</param-value>
</init-param>

  <servlet-name>demoservlet1</servlet-name>
  <servlet-class>parametersdemo.DemoServlet1</servlet-class>
</servlet>

<servlet>

<init-param>
<param-name>dept</param-name>
<param-value>CSE</param-value>
</init-param>

<init-param>
<param-name>course</param-name>
<param-value>Enterprise Programming</param-value>
</init-param>
  <servlet-name>demoservlet2</servlet-name>
  <servlet-class>parametersdemo.DemoServlet2</servlet-class>
</servlet>
<servlet>
	<servlet-name>demoservlet</servlet-name>
	<servlet-class>servletcollaborationdemo.DemoServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>DisplayServlet</servlet-name>
	<servlet-class>webappdemo.DisplayServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>InsertEmpServlet</servlet-name>

	<servlet-class>webappdemo.InsertEmpServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>ViewAllEmployeesServlet</servlet-name>
	<servlet-class>webappdemo.ViewAllEmployeesServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>SecondServlet</servlet-name>
  <url-pattern>Second</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>thirdservlet</servlet-name>
  <url-pattern>third</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>demoservlet1</servlet-name>
  <url-pattern>demo1</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>demoservlet2</servlet-name>
  <url-pattern>demo2</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>demoservlet</servlet-name>
	<url-pattern>demo</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>DisplayServlet</servlet-name>
	<url-pattern>display</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>InsertEmpServlet</servlet-name>
	<url-pattern>insertemp</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>ViewAllEmployeesServlet</servlet-name>
	<url-pattern>viewemps</url-pattern>
</servlet-mapping>
</web-app>